.enlist input,
.nf-form-wrap .note-editor.note-frame .note-editing-area .note-editable {
   font-size: 1em;
   color: var(--white);
   background: var(--dark-gray);
   border: 1px solid var(--medium-white);
}

.nf-form-wrap .note-editor.note-frame .note-editing-area .note-editable {
   height: 500px !important;
}

.nf-form-wrap .note-editor.note-frame .note-statusbar .note-resizebar {
   display: none;
}

.enlist-form h3 {
   margin-bottom: 0;
}

.enlist-form input, .enlist-form textarea {
   background-color: var(--dark-gray);
   border: 1px solid var(--medium-white);
   border-radius: 0;
   padding: 10px;
}

.nf-field-label {
   margin-bottom: 5px !important;
}

.nf-response-msg {
    border: 3px solid green;
    color: green;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 9px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.nf-field-container {
   margin-bottom: 5px !important;
}

.enlist-form .half-input {
   clear: none !important;
   margin-right: 5px !important;
}

.enlist-form textarea {
   margin-right: 5px;
   font-family: 'Roboto', sans-serif;
}

.enlist-form {
   color: white;
   font-size: 1em;
}

.nf-field-element input, .nf-field-element textarea {
   color: var(--dark-white);
}

#nf-field-40 {
   height: 500px;
}

.enlist .file_input_textbox {
   background-color: var(--black) !important;
   border: 1px solid var(--white);
   color: var(--white) !important;
}

.enlist select {
   border-radius: 0 !important;
   background: var(--dark-gray) !important;
   border: 1px solid var(--white) !important;
   color: var(--medium-white) !important;
   height: 35px !important;
   font-size: 1em;
}

.enlist input[value="Submit"] {
    width: 220px;
    height: 30px;
    font-size: .7rem;
    font-weight: 700;
    letter-spacing: 1px;
    background: var(--primaryColor);
    color: var(--white);
    border: 1px solid var(--medium-white);
    transition: all 0.3s ease;
    text-transform: uppercase;
    padding: .4rem;
    opacity: .9;
    cursor: pointer;

    &:hover {
        opacity: 1;
        color: var(--truewhite);
    }    
}
     
.enlist .field-wrap input[type=button] {
    width: 220px;
}