#bbpress-forums {
   margin-bottom: 0;
   margin-top: 15px;
   position: relative;

   .bbp-topic-form, .bbp-reply-form, .bbp-topic-tag-form {
     background: var(--black);
  }

  .bbp-author-name {
    font-size: .9rem;
  }

  red {
    color: var(--red);
  }
  
  yellow {
    color: var(--yellow);
  }
  
  blue {
    color: var(--light-blue);
  }

  .bbp-body {
    .bbp-reply-content {
      color: #d6d6d6;
      font-size: 1rem;
      line-height: 1.4em;
      margin-left: 13%;
    }
    
    .bbp-reply-author {
      width: 13%;
    }
  }
}
#bbpress-forums .status-closed {
  opacity: .8;
}
div.bbp-template-notice.info {
   background-color: var(--dark-gray);
}
.bbp-topic-description, .bbp-forum-description {
   color: var(--white);
}

#bbpress-forums {
  font-size: 1rem;
}

.bbcode-color {
  &[color=red],
  &[color="red"] {
    color: var(--red);
  }
  
  &[color=yellow],
  &[color="yellow"] {
    color: var(--yellow);
  }

  &[color=blue],
  &[color="blue"] {
    color: var(--blue);
  }
}

#bbp-post-preview {
  color: var(--white);
}
 
#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
   color: var(--white);
}

#bbpress-forums fieldset.bbp-form p, #bbpress-forums fieldset.bbp-form textarea, #bbpress-forums fieldset.bbp-form select, #bbpress-forums fieldset.bbp-form input {
   color: var(--white);
}

.mail-icon {
  height: 1rem;
  margin-right: 0.3rem;
}

.message-count {
  display: flex;
  align-items: center;
}

.single-forum .subscription-toggle {
  border: 1px solid var(--white);
  padding: 7px;
  width: 150px;
  text-align: center;
  position: absolute;
  top: 31px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all .5s ease; 

  &:hover {
    background-color: var(--white);
    color: var(--black);
  }
}

.bbp-form input, .bbp-form textarea, .bbp-form select {
  appearance: none;
  background: var(--dark-gray) !important;
  border-radius: 0;
  border: 1px solid var(--white);
  padding: 5px;
}

#bbp_reply_content {
  border: none;
}

.d4p-attachment-addfile {
  border: 1px solid var(--medium-white);
  padding: 5px;
  text-transform: uppercase;
  background-color: var(--primaryColor);
  opacity: .9;
  transition: .3s ease all;
  margin-top: 5px;

  &:hover {
    opacity: 1;
    color: var(--truewhite);
  }
}

#bbpress-forums li.bbp-header {
  border-top: none;
}

.bbp-reply-revision-log {
  display: none;
}

.bbp-form label {
  margin-bottom: 5px !important;
}

.bbp-topics ul.sticky {
  background-color: var(--dark-gray) !important;
}

div.bbp-submit-wrapper {
  float: none;
  display: flex;
  justify-content: center;
}

.quicktags-toolbar {
  background: var(--black) !important;
}

.bbp-template-notice {
   background-color: var(--dark-gray) !important;
   color: var(--dark-white) !important;
}

.bbp-header, .bbp-footer {
  background: var(--dark-gray) !important;

  a {
    &:hover {
      color: var(--truewhite);
    }
  }
}

#bbpress-forums div.bbp-topic-content img, 
#bbpress-forums div.bbp-reply-content img {
  border: 1px solid var(--medium-white);
}

#bbpress-forums div.bbp-reply-content .bbcode-image {
  border: none;
}

.bbpm-inline-img a,
.bbpm-inline-img a img {
  max-width: 100%;
}

.bbp-topic-signature p, .bbp-reply-signature p {
  font-size: 1em;
}

.post-1487 {
  .bbp-reply-post-date {
    visibility: hidden;
  }
}

#bbpress-forums hr {
  margin: 0 0 35px 0;
}

#bbpress-forums .button[type=submit],
.BPT-content input[name="send_message"] {
 color: #f7f7f7;
 background-color: var(--primaryColor);
 width: 220px;
 height: 30px;
 border-radius: 0;
 font-weight: 700;
 font-size: .9rem;
 border: 1px solid var(--medium-white);
 text-transform: uppercase;
 transition: all 0.3s ease;
 letter-spacing: 1px;
 opacity: .9;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

#bbpress-forums input[type="checkbox"] {
  appearance: checkbox;
}

#bbp-search-form div {
  display: flex;
}

#bbp_search {
  margin-right: 5px;
}

#bbp-search-form input {
  letter-spacing: 1px;
}

#bbpress-forums .button[type=button] {
   color: #f7f7f7;
   background-color: var(--black);
   border-radius: 0;
   border: 1px solid var(--white);
}

.bbp_stick_topic_select {
  background-color: var(--dark-gray) !important;
  color: var(--dark-white) !important;
  border: 1px solid var(--dark-white);
}

#bbpress-forums .button[value="Search"] {
 color: var(--white);
 background-color: var(--primaryColor);
 width: 100px;
 border-radius: 0px;
 padding: 0;
 border: 1px solid var(--white);
}

#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic.status-pending {
   background-color: var(--black);
   display: flex;
   align-items: center;
}

#bbpress-forums #bbp-your-profile fieldset input, #bbpress-forums #bbp-your-profile fieldset textarea {
   background: var(--black);
}

#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {
  display: flex;
  align-items: center;
}

#bbpress-forums .status-closed, #bbpress-forums .status-closed a {
   background-color: transparent;
}

div.bbp-template-notice a {
  color: var(--white);
}

div.bbp-template-notice a:hover {
  color: var(--light-blue);
}

#bbpress-forums ul.bbp-replies {
  font-size: auto;
}

.bbp-topic-revision-log,
.bbp-topic-revision-log li {
	display: none;
}

#bbpress-forums div.bbp-reply-content pre {
  background-color: var(--black);
  border: 1px solid var(--dark-gray);

  code {
    font-size: .9rem;
    overflow: visible;
  }
}

#bbpress-forums #bbp-search-form #bbp_search {
  background-color: var(--dark-gray);
  border: 1px solid var(--white);
  padding: 0 5px;
  color: var(--white);
  height: 28px;
}

#bbpress-forums div.odd, #bbpress-forums ul.odd {
  background-color: var(--black);
}

#bbpress-forums div.even, #bbpress-forums ul.even {
  background-color: var(--black);
}

#bbpress-forums div.bbp-forum-header, #bbpress-forums div.bbp-topic-header, #bbpress-forums div.bbp-reply-header {
  background-color: var(--dark-gray);
  border-bottom: 1px solid var(--white);
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
  background-color: var(--black);
  border: 1px solid var(--white);
}

#bbpress-forums div.bbp-reply-content a {
  font-weight: unset;
}

.bbpm textarea[name=message] {
  background-color: var(--dark-gray);
  color: var(--white);
  padding: 5px;
}

.BPT-content input {
  background-color: var(--dark-gray);
  color: var(--white);
  padding: 5px;
}

.bbpress_mark_all_read_wrapper input {
  background-color: var(--primaryColor);
  border: 1px solid var(--medium-white);
  color: var(--white);
  padding: 5px;
  text-transform: uppercase;
  cursor: pointer;
  opacity: .9;
  transition: .3s ease all;

  &:hover {
    opacity: 1;
    color: var(--truewhite);
  }
}

.bbpm-results input[type="radio"] {
  display: inline-block !important;
}

.bbpm-new .bbpm-results {
  font-size: 1rem;

  .avatar {
    height: 40px;
    width: 40px;
  }
}

.recipient-avatar img {
  display: none !important;
}

.form-section #message {
  width: 55%;
  height: 90px;
}

.form-submit input {
  background-color: var(--black);
  border: 1px solid var(--white);
  color: var(--white);
}

.bbpm a {
  color: var(--white) !important;
}

.bbpm-items .bbpm-head .bbpm-left .bbpm-new, 
.bbpm-messages .bbpm-head .bbpm-left > a,
input[name="select_recipient"] {
  background: var(--primaryColor);
  text-decoration: none;
  border: 1px solid var(--medium-white);
  border-radius: 0;
  text-transform: uppercase;
  font-size: .9rem;
  padding: 0.4rem;
  font-weight: 700;
  margin-bottom: 12px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  opacity: .9;

    &:hover {
      opacity: 1;
      color: var(--truewhite);
    }
}

#bbpress-forums #bbp-your-profile fieldset span.description {
  background-color: #2d2d2d;
}

.bbpm textarea[name="message"] {
  width: 65%;
  height: 60px;
}

.user-toolbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;

  a {
    color: var(--truewhite);
    text-transform: uppercase;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 7px;
    transition: .3s ease all;

    &.message-count,
    &.profile-link,
    &.discord-link {
      display: flex;
      border-right: 1px solid var(--medium-white);
      opacity: .8;
      justify-content: center;
      letter-spacing: 1px;

      &:hover {
        opacity: 1;
        color: var(--truewhite);
      }
    }

    &.message-count {
      background-color: var(--primaryColor);
    }

    &.profile-link {
      background-color: var(--primaryColor);
    }

    &.discord-link {
      background-color: var(--primaryColor);
      border-right: none;
    }
  }
}

.user-toolbar p {
  margin-bottom: 0;
  margin-top: 0;
}

#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
  font-family: Roboto,sans-serif;
  font-size: 14px;
}

.profile-icon {
  height: 1.3rem;
  margin-right: 0.2rem;
}

.count-and-alert {
  display: none;

  * {
    margin-left: 3px;
  }
}

.bbp-pagination-links a:hover, .bbp-pagination-links span.current {
  background: var(--primaryColor);
  color: var(--white);
  font-size: 1rem;
  padding:.5rem;
}

.bbp-pagination-links a {
  font-size: 1rem;
  padding: .5rem;
}

label[for="bbp_topic_tags"] {
  display: none !important;
}

#bbp_topic_tags {
  display: none;
}

.bbpm-messages .bbpm-head .bbpm-left .bbpm-helper {
  padding: .2rem;
}

#bbpress-forums #bbp-your-profile fieldset.submit button {
  float: none;
}

.bbpress_mark_all_read_wrapper {
  transform: none;
}

.bbp-forum-title {
  font-size: .9rem;
}

#bbpress-forums .bbp-forum-info .bbp-forum-content, #bbpress-forums p.bbp-topic-meta {
  font-size: .8rem;
}

.bbp-topic-permalink {
  font-size: .9rem;
}

@media (max-width: 450px) {
  .user-toolbar {
    font-size: .8em;
  }
}