body {
   padding: 5px;
}

a {
   color: var(--truewhite);
   font-weight: 700;
   text-decoration: none;
}

#wp-admin-bar-comments,
#wp-admin-bar-new-content,
#wp-admin-bar-customize,
#wp-admin-bar-wp-logo,
#wp-admin-bar-site-name {
   display: none;
}

#wp-admin-bar-site-name a::before {
   content: '';
   display: none;
}

.post-edit-link,
.back-button {
   background-color: var(--tfpurple);
   text-align: center;
   text-transform: uppercase;
   border: 1px solid var(--medium-white);
   display: block;
   margin-top: 10px;
   padding: .5em;
   transition: .3s ease all;
   opacity: .9;

   &:hover {
      color: var(--truewhite);
      opacity: 1;
   }
}

.post-edit-link {
   background-color: var(--red);
}

.cookie-notice-container {
   border-top: 1px solid var(--medium-white);
}

#cookie-notice .cn-button {
   background-image: none;
   background-color: var(--tfpurple);
   border-radius: 0;
   text-transform: uppercase;
}

.quicklinks {
   display: flex;
   justify-content: flex-end;
}

.disclaimer {
   font-weight: 200;
   font-size: .9em;
   line-height: 1.3;
}

.subnav-section {
   font-size: .9rem;
   text-transform: lowercase;
}

.section.sotm {
   background-color: var(--primaryColor);
   color: var(--white);
   text-align: center;
   font-size: 1.2rem;
   font-weight: 700;
   text-transform: uppercase;
   //text-shadow: 2px 2px var(--black);
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.3s;
   opacity: .9;

   &:hover {
      box-shadow: 0 0 12px 1px var(--white);
      color: var(--truewhite);
      opacity: 1;
   }

   p {
      margin: 0;
   }

   img {
      margin-left: .5rem;
      margin-right: .5rem;

      @media (max-width: 560px) {
         display: none;
      }
   }
}

a:hover {
   color: var(--linkColor);
   transition: all 0.3s ease;
}

.container {
   max-width: 1080px;
   margin-left: auto;
   margin-right: auto;
}

.main {
   padding-left: 5px;
   padding-right: 5px;
}

.section {
   background-color: var(--black);
   border: 1px solid var(--medium-white);
   line-height: 1.5em;
   margin-right: -2px;
   margin-top: 10px;
   padding: 10px;
}

.hidden {
   display: none;
}

.section h1 {
   margin-bottom: 5px;
}

.row {
   display: flex;
}

.Zebra_Tooltip {
   background: var(--dark-gray);
   border: 1px solid var(--dark-white);
   font-size: 14px;
}

.affiliates {
   display: flex;
   justify-content: space-between;
   font-size: 1.6rem;
   margin: -10px;
   margin-top: 30px;
   text-transform: uppercase;

   .affiliate {
      border-top: 1px solid var(--dark-white);
      display: flex;
      width: 50%;
      height: 80px;
      justify-content: center;
      background-repeat: no-repeat;
      background-position: center;
      opacity: .8;
      color: var(--white);
      transition: .3s ease all;

      &:hover {
         opacity: 1;
         color: var(--truewhite);
      }

      p {
         margin: 20px 0;
         text-shadow: 2px 3px var(--black);
      }

      &.bravo-fleet {
         background-image: url("/wp-content/themes/diligent/images/bf-logo.png");
         background-color: var(--dark-gray);
         border-right: 1px solid var(--dark-white);
         background-size: 30%;
      }

      &.tf-38 {
         background-image: url("/wp-content/themes/diligent/images/tf38.png");
         background-color: var(--dark-gray);
         background-size: 25%;
      }
   }
}

.back-button {
   text-transform: uppercase;
   opacity: .9;
   color: var(--white);
   transition: .3s ease all;

   & div {
      background-color: var(--primaryColor);
      padding: .5em;
      transition: .3s ease all;

      &:hover {
         color: var(--truewhite);
      }
   }

   &:hover {
      opacity: 1;
      color: var(--truwhite);
   }
}

.sim-awards {
   display: flex;
   justify-content: center;
   align-items: center;

   img {
      margin-right: 5px;
   }
}

@media (max-width: 782px) {

   #wp-admin-bar-site-name,
   #wp-admin-bar-wp-logo,
   #wp-admin-bar-site-name,
   #wp-admin-bar-customize,
   #wp-admin-bar-new-content,
   #wp-admin-bar-comments {
      display: none !important;
   }
}

@media (max-width: 450px) {
   .affiliates {
      .affiliate {

         &.bravo-fleet,
         &.tf-38 {
            background-size: contain;
            font-size: 1.2rem;
         }
      }
   }
}