.department-links {
   text-transform: lowercase;
   font-size: .8rem;
}

.mani-field {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.manifest {
   margin-left: auto;
   margin-right: auto;
   max-width: 800px;
   text-align: left;
   h3 {
      margin-bottom: 0;
      margin-top: 0;
      line-height: 2.5em;
      text-align: center;
   }
   .row {
      height: 45px;
      lost-utility: clearfix;
   }
}

.rank {
   lost-column: 3/10;
   display: flex;
   align-items: center;
   img {
      max-width: 100%;
   }
}

.position {
   lost-column: 4/10;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;

   .secondary {
      font-size: .8em;
      line-height: .8em;
   }

   p {
      margin: 0;
   }
}

.character {
   lost-column: 3/10;
}

.open .character a {
   font-weight: normal;
}

.department {
   background-color: var(--black);
   lost-utility: clearfix;
}
.department h1 {
   text-align: center;
}

.second-off span {
   font-size: .8em;
}

.second-off {
   line-height: 1em;
   margin-top: 8px;
}

@media (max-width: 450px) {
   .mani-field {
      line-height: 1.8em;
      font-size: .6em;
   }
   .rank {
      lost-column: 3/10;
   }
   .position {
      lost-column: 4/10;
   }
   .character {
      lost-column: 3/10;
   }
}